@page "/spareParts"



<PageTitle>Rezervni dijelovi</PageTitle>

<h1>Rezervni dijelovi</h1>

<p>This component demonstrates fetching data from a service.</p>



@code {

    protected override async Task OnInitializedAsync()
    {
    }
}
